$footer-background-color: white
$color-bg: lightcyan
@import "../node_modules/bulma/bulma.sass"

html
  // background-image: url("/noise.png")
  background-color: $color-bg
  background-repeat: repeat
